Checks: '-*, bugprone-*, clang-analyzer-*, cppcoreguidelines-*, google-explicit-constructor, misc-*, modernize-*, performance-*, readability-*, -modernize-use-trailing-return-type, -cppcoreguidelines-non-private-member-variables-in-classes, -misc-non-private-member-variables-in-classes, -cppcoreguidelines-avoid-non-const-global-variables, -readability-identifier-length, -bugprone-easily-swappable-parameters'
